useDynLib(coalescentMCMC, .registration = TRUE)

export(.coalescentMCMCenv, cleanMCMCtrees, coalescentMCMC, dcoal,
       dcoal.linear, dcoal.step, dcoal.time, dcoal.time2,
       getLastTree, getMCMCstats, getMCMCtrees,
       NeighborhoodRearrangement, plotTHETA,
       proba.coalescent, saveMCMCtrees, sim.coalescent)

importFrom(ape, as.phylo, branching.times, dist.dna, Ntip,
           reorder.phylo, write.nexus, write.tree)
importFrom(coda, mcmc)
importFrom(graphics, axis, lines, mtext, plot, points, segments)
importFrom(grDevices, col2rgb, rgb)
importFrom(phangorn, phyDat, pml, upgma)
importFrom(Matrix, Matrix)
importFrom(splines, bs)
importFrom(stats, BIC, hclust, nlminb, pchisq, rbinom, reorder, runif)
importFrom(lattice, histogram)
importFrom(utils, packageVersion)

S3method(AIC, coalescentMCMC)
S3method(anova, coalescentMCMC)
S3method(BIC, coalescentMCMC)
S3method(logLik, coalescentMCMC)
S3method(subset, coalescentMCMC)
